<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="authors.js"></script>
</head>
<body>
<a th:href="@{/}" href="index.html">Библиотека</a>
<br>
<h3>Авторы:</h3>
<br>
<div id="authorTable"></div>

<!--<div id="authorsdiv">-->
    <!--<table class="authors">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>Имя</th>-->
            <!--<th>Фамилия</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="author : ${authors}">-->
            <!--<td width="30" th:text="${author.id}">1</td>-->
            <!--<td width="150 " th:text="${author.firstName}">Foo</td>-->
            <!--<td width="150 " th:text="${author.lastName}">John</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->
<br>
<form id="del-form" action="/api/authors.html">
    <h3>Удаление автора:</h3>
    <div class="row">
        <label for="authorId">ID:</label>
        <input id="authorId" type="text" value=""/>
    </div>
    <div class="row">
        <button width="150" type="submit">Удалить</button>
    </div>
</form>
<!--<form id="edit-form" th:action="@{/books/add/}+(${bookDto.id}?:'')" th:object="${bookDto}" th:method="POST" action="books.html">-->
<br>
<br>
<br>
</body>
</html>
