<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres, .genres td {
            border: 1px solid lightgray;
            padding: 5px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="genres.js"></script>
</head>
<body>
<a th:href="@{/}" href="index.html">Библиотека</a>
<br>
<h3>Жанры:</h3>
<br>
<div id="genreTable"></div>
<!--<div id="genresdiv">-->
    <!---->
    <!--<table class="genres">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>ID</th>-->
            <!--<th>Название жанра</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="genre : ${genres}">-->
            <!--<td width="50" th:text="${genre.id}">1</td>-->
            <!--<td width="250 " th:text="${genre.name}">Foo</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->
<br>
<form id="del-form" action="/api/genres.html">
    <h3>Удаление жанра:</h3>
    <div class="row">
        <label for="genreId">ID:</label>
        <input id="genreId" type="text" value=""/>
    </div>
    <div class="row">
        <button width="150" type="submit">Удалить</button>
    </div>
</form>
<br>
<br>
<br>

</body>
</html>
